body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #242424;
}

.contain {
    width: 1300px;
    margin: 0px auto;
}
/*HEADER SECTION*/
.header {
    background: #0055a4;
    padding: 6px;
}

.header b {
    background: #ffffff;
    color: rgb(249, 7, 7);
    padding: 10px;
    font-size: 20px;
   
}

.header marquee {
    font-size: 20px;
    color: #ffffff;
    width: 80%;
}

/*LOGO SECTION*/
.logo {
    height: 65px;
}

/*MENU SECTION*/
nav {
    float: right;
    padding: 25px 0px;
}

nav a {
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1em;
    padding: 2px 10px;
    font-weight: 500;
    margin-left: 10px;
}


nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #000000;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform.5s;
}

nav a:hover:after {
    transform: scaleX(1);
}

.login-btn {
    width: 180px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #000000;
    font-weight: 500;
    margin-left: 10px;
    transition: .5s;

}

.login-btn:hover {
    background-color: #6e7880;
    color: #000000;
}

.navbar .hamburger-btn {
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}


.navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #000;
    cursor: pointer;
}

.navbar .login-btn {
    border: none;
    outline: none;
    background: #a9a0a0;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.15s ease;
}

.navbar .login-btn:hover {
    background: #ddd;
}

/* Login form*/

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-width: 720px;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -70%);
    
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-popup .form-box {
    display: flex;
}

.form-box .form-details {
    width: 100%;
    color: #000000;
    max-width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .form-details {
    padding: 0 40px;
    background: url("images/login-img.jpg");
    background-position: center;
    background-size: cover;
}

.signup .form-details {
    padding: 0 20px;
    background: url("images/signup-img.jpg");
    background-position: center;
    background-size: cover;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 29px;
}

form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 0.95rem;
    padding: 0 15px;
    border: 1px solid #717171;
    border-radius: 3px;
}

.input-field input:focus {
    border: 1px solid #00bcd4;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #4a4646;
    pointer-events: none;
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: #00bcd4;
    font-size: 0.75rem;
}

.form-box a {
    color: #00bcd4;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
    display: inline-flex;
    margin-top: 13px;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 0;
    background: #00bcd4;
    transition: 0.2s ease;
}

form button:hover {
    background: #0097a7;
}

.form-content .bottom-link {
    text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
    display: none;
}

.form-popup.show-signup .signup {
    display: flex;
}

.signup .policy-text {
    display: flex;
    margin-top: 14px;
    align-items: center;
}

.signup .policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

@media (max-width: 950px) {
    .navbar :is(.hamburger-btn, .close-btn) {
        display: block;
    }

    .navbar {
        padding: 15px 0;
    }

    .navbar .logo img {
        display: none;
    }

    .navbar .logo h2 {
        font-size: 1.4rem;
    }

    .navbar .links {
        position: fixed;
        top: 0;
        z-index: 10;
        left: -100%;
        display: block;
        height: 100vh;
        width: 100%;
        padding-top: 60px;
        text-align: center;
        background: #fff;
        transition: 0.2s ease;
    }

    .navbar .links.show-menu {
        left: 0;
    }

    .navbar .links a {
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
        color: #000;
    }

    .navbar .links a:hover {
        color: #00BCD4;
    }

    .navbar .login-btn {
        font-size: 0.9rem;
        padding: 7px 10px;
    }
}

@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}

/**SLIDER SECTION*/
.slider img {
    width: 100%;
}

/*RECENT EVENT */
.fun{
    height: 500px;
}
.main-section {
    width: 100%;
    float: left;
    padding: 100px 0px 100px 0px;
}

.event {
    width: 32%;
    margin-right: 1%;
    float: left;
    background-color: #fff;
}

.event i {
    color: red;
    font-size: 14px;
}

.event div {
    padding: 10px;
}

.event .heading {
    padding: 10px;
    color: #fff;
    background: #0055a4;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.event ul li {
    margin-bottom: 20px;
    width: 100%;
    float: left;
    list-style: none;
}

.event-date {
    background: red;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 8px 12px;
    margin-right: 10px;
}

/*CAMPUS NEWS SECTION*/  
.campus-news h2 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.campus-news h6 {
    font-weight: 500;
    font-size: 13px;
    color: red;
}

.campus-news p {
    font-size: 15px;
}

/*CALENDER*/
.cal{
    height: 500px;
}
.ev{
    height: 500px;
}
.event-date{
    width: 25px;
}

/*ABOUT US SECTION*/
.heading {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #0055a4;
    text-align: center;
}

.subhead {
    text-align: center;
    font-size: 42px;
    color: rgb(255, 17, 0);
    font-weight: 500;
}

.about-us div {
    width: 45%;
    float: left;
    line-height: 30px;
    font-size: 18px;
}

.about-us h4 {
    font-size: 42px;
    color: red;
    font-weight: 500;
}

.about-us p {
    font-size: 20px;
    margin-bottom: 20px;
    padding-right: 30px;
    line-height: 23px;
}

.about-us img {
    width: 55%;
    float: left;
}

/*AWARD SECTION*/
.award p {
    width: 100%;
    float: left;
    font-size: 16px;
}

.award img {
    width: 100%;
}

.award b {
    min-width: 115px;
    float: left;
    margin-bottom: 20px;
}

.award h3 {
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
}

/*CHAIRMAN SECTION*/
.chairman img {
    width: 150px;
    float: left;
    margin-right: 10px;
}

.chairman h2 {
    font-size: 22px;
    margin-top: 30px;
}

.chairman h4 {
    font-size: 16px;
    color: red;
    font-weight: 400;
}

/*EXPERIENCE SECTION*/
.Exprerience {
    width: 17.5%;
    float: left;
    margin-right: 2.5%;
}
.Exprerience-text {
    background: #0055a40f;
    padding: 20px;
    line-height: 35px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #0055a4;
}
.Exprerience-detail {
    float: left;
    margin-top: 10px;
    image-orientation: flip;
}
.Exprerience-img {
    float: left;
}
.Exprerience-name {
    margin-left: 10px;
    float: left;
}
.Exprerience-name h5 {
    font-size: 18px;
    margin-top: 8px;
    text-align: center;
}
/*GALLERY SECTION*/
.gallery img {
    width: 23.2%;
    margin-right: 1.5%;
    margin-bottom: 20px;
}

/*FOOTER SECTION*/
.footer {
    background-color: #f0f3fa;
    padding: 40px 0px;
    width: 100%;
    float: left;
}
.footer-logo {
    height: 70px;
    width: auto;
}
.footer-sect {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
.footer-sect a {
    color: #202020;
    margin-left: 10px;
    text-decoration: none;
}